@import "@fontsource-variable/roboto";
@import "@fontsource-variable/outfit";

:root {
  --profile-primary: oklch(58.251% 0.08977 188.191);
  --profile-accent: oklch(94.033% 0.03838 192.66);
}

:root[data-brand="bernoulli"] {
  --brand-font-heading: 'Outfit Variable';
  --brand-font-sans: 'Roboto Variable';
  --brand-font-weight-bold: 500;

  --brand-primary: oklch(58.251% 0.08977 188.191);
  --brand-secondary: oklch(69.778% 0.10745 188.011);
  --brand-accent: oklch(94.033% 0.03838 192.66);
  --brand-ring: oklch(74.093% 0.10319 188.82);
}

:root[data-brand="bernoulli"][data-profile="student"] {
  --profile-primary: oklch(59.186% 0.17677 307.987);
  --profile-accent: #D8BDEB;
}

:root[data-brand="bernoulli"][data-profile="family"] {
  --profile-primary: oklch(55.67% 0.13925 298.512);
  --profile-accent: oklch(82.138% 0.08855 299.954);
}

:root[data-brand="bernoulli"][data-profile="teacher"] {
  --profile-primary: oklch(65.297% 0.09541 208.728);
  --profile-accent: oklch(88.73% 0.05014 205.838);
}

:root[data-brand="bernoulli"][data-profile="school"] {
  --profile-primary: oklch(49.621% 0.15711 271.016);
  --profile-accent: oklch(85.285% 0.04089 276.247);
}

:root[data-brand="bernoulli"][data-profile="system"] {
  --profile-primary: oklch(46.135% 0.15033 294.504);
  --profile-accent: oklch(83.434% 0.07107 299.471);
}

:root.dark[data-brand="bernoulli"] {
  --brand-primary: oklch(58.251% 0.08977 188.191);
  --brand-secondary: oklch(69.778% 0.10745 188.011);
  --brand-accent: oklch(50.936% 0.07172 190.139);
  --brand-ring: oklch(74.093% 0.10319 188.82);
}

:root.dark[data-brand="bernoulli"][data-profile="student"] {
  --profile-primary: oklch(59.186% 0.17677 307.987);
  --profile-accent: oklch(34.403% 0.10861 308.532);
}

:root.dark[data-brand="bernoulli"][data-profile="family"] {
  --profile-primary: oklch(55.67% 0.13925 298.512);
  --profile-accent: oklch(34.725% 0.09234 297.63);
}

:root.dark[data-brand="bernoulli"][data-profile="teacher"] {
  --profile-primary: oklch(65.297% 0.09541 208.728);
  --profile-accent: oklch(34.341% 0.0511 209.02);
}

:root.dark[data-brand="bernoulli"][data-profile="school"] {
  --profile-primary: oklch(49.621% 0.15711 271.016);
  --profile-accent: oklch(30.513% 0.10509 270.31);
}

:root.dark[data-brand="bernoulli"][data-profile="system"] {
  --profile-primary: oklch(46.135% 0.15033 294.504);
  --profile-accent: oklch(31.9% 0.10365 294.098);
}

:root[data-brand="bernoulli"] {
  --chart-brand-1: #C1EEE6;
  --chart-brand-2: #75D7CD;
  --chart-brand-3: #40C7BC;
  --chart-brand-4: #019B92;
  --chart-brand-5: #016A63;
}

:root.dark[data-brand="bernoulli"] {
  --chart-brand-1: #C1EEE6;
  --chart-brand-2: #75D7CD;
  --chart-brand-3: #40C7BC;
  --chart-brand-4: #019B92;
  --chart-brand-5: #016A63;
}