@import "@fontsource-variable/roboto";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

:root[data-brand="bernoulli"] {
  --brand-font-heading: 'Poppins';
  --brand-font-sans: 'Roboto Variable';
  --brand-font-weight-heading: 600;
  --brand-font-cta: var(--brand-font-heading), var(--brand-font-sans);
  --brand-font-weight-cta: 600;

  --primary: oklch(58.251% 0.08977 188.191);
  --primary-hover: oklch(69.778% 0.10745 188.011);
  --primary-foreground: var(--background);
  --secondary: oklch(69.778% 0.10745 188.011);
  --accent: oklch(94.033% 0.03838 192.66);
  --ring: oklch(74.093% 0.10319 188.82);
  /* use in specific components to ignore dark mode. */
  --fix-primary: oklch(58.251% 0.08977 188.191); 
  --fix-primary-foreground: var(--color-white);
  --fix-primary-hover: oklch(69.778% 0.10745 188.011);
}

.dark[data-brand="bernoulli"] {
  --primary: oklch(69.778% 0.10745 188.011);
  --primary-hover: oklch(58.251% 0.08977 188.191);
  --primary-foreground: var(--background);
  --secondary: oklch(69.778% 0.10745 188.011);
  --accent: oklch(34.804% 0.0609 186.582);
  --ring: oklch(74.093% 0.10319 188.82);
}

:root[data-brand="bernoulli"][data-profile="student"] {
  --sidebar-primary: oklch(56.336% 0.15990 308.369);
  --sidebar-accent: oklch(83.599% 0.06940 311.206);
}

:root[data-brand="bernoulli"][data-profile="family"] {
  --sidebar-primary: oklch(55.670% 0.13916 298.518);
  --sidebar-accent: oklch(82.138% 0.08845 299.979);
}

:root[data-brand="bernoulli"][data-profile="teacher"] {
  --sidebar-primary: oklch(65.296% 0.09538 208.686);
  --sidebar-accent: oklch(88.729% 0.05009 205.731);
}

:root[data-brand="bernoulli"][data-profile="school"] {
  --sidebar-primary: oklch(49.620% 0.15704 271.005);
  --sidebar-accent: oklch(85.285% 0.04079 276.252);
}

:root[data-brand="bernoulli"][data-profile="system"] {
  --sidebar-primary: oklch(40.738% 0.13121 294.467);
  --sidebar-accent: oklch(83.434% 0.07097 299.503);
}

.dark[data-brand="bernoulli"][data-profile="student"] {
  --sidebar-primary: oklch(56.336% 0.15990 308.369);
  --sidebar-accent: oklch(27.716% 0.10471 307.269);
}

.dark[data-brand="bernoulli"][data-profile="family"] {
  --sidebar-primary: oklch(55.670% 0.13916 298.518);
  --sidebar-accent: oklch(25.822% 0.11148 290.206);
}

.dark[data-brand="bernoulli"][data-profile="teacher"] {
  --sidebar-primary: oklch(65.296% 0.09538 208.686);
  --sidebar-accent: oklch(25.679% 0.04405 207.161);
}

.dark[data-brand="bernoulli"][data-profile="school"] {
  --sidebar-primary: oklch(49.620% 0.15704 271.005);
  --sidebar-accent: oklch(27.283% 0.09964 267.485);
}

.dark[data-brand="bernoulli"][data-profile="system"] {
  --sidebar-primary: oklch(40.738% 0.13121 294.467);
  --sidebar-accent: oklch(27.178% 0.10470 293.222);
}

:root[data-brand="bernoulli"] {
  --chart-1: #C1EEE6;
  --chart-2: #75D7CD;
  --chart-3: #40C7BC;
  --chart-4: #019B92;
  --chart-5: #016A63;
}

.dark[data-brand="bernoulli"] {
  --chart-1: #C1EEE6;
  --chart-2: #75D7CD;
  --chart-3: #40C7BC;
  --chart-4: #019B92;
  --chart-5: #016A63;
}