@import "@fontsource-variable/roboto";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

:root {
  --profile-primary: oklch(58.251% 0.08977 188.191);
  --profile-accent: oklch(94.033% 0.03838 192.66);
}

:root[data-brand="bernoulli"] {
  --brand-font-heading: 'Poppins';
  --brand-font-sans: 'Roboto Variable';
  --brand-font-weight-heading: 600;
  --brand-font-cta: var(--brand-font-heading), var(--brand-font-sans);
  --brand-font-weight-cta: 600;

  --brand-primary: oklch(58.251% 0.08977 188.191);
  --brand-secondary: oklch(69.778% 0.10745 188.011);
  --brand-accent: oklch(94.033% 0.03838 192.66);
  --brand-ring: oklch(74.093% 0.10319 188.82);
}

:root[data-brand="bernoulli"][data-profile="student"] {
  --profile-primary: oklab(56.336% 0.09928 -0.12545);
  --profile-accent: oklch(83.599% 0.06948 311.158);
}

:root[data-brand="bernoulli"][data-profile="family"] {
  --profile-primary: oklch(55.67% 0.13925 298.512);
  --profile-accent: oklch(82.138% 0.08855 299.954);
}

:root[data-brand="bernoulli"][data-profile="teacher"] {
  --profile-primary: oklch(65.297% 0.09541 208.728);
  --profile-accent: oklch(88.73% 0.05014 205.838);
}

:root[data-brand="bernoulli"][data-profile="school"] {
  --profile-primary: oklch(49.621% 0.15711 271.016);
  --profile-accent: oklch(85.285% 0.04089 276.247);
}

:root[data-brand="bernoulli"][data-profile="system"] {
  --profile-primary: oklch(40.738% 0.13128 294.466);
  --profile-accent: oklch(83.434% 0.07107 299.471);
}

:root.dark[data-brand="bernoulli"] {
  --brand-primary: oklch(58.251% 0.08977 188.191);
  --brand-secondary: oklch(69.778% 0.10745 188.011);
  --brand-accent: oklch(34.804% 0.0609 186.582);
  --brand-ring: oklch(74.093% 0.10319 188.82);
}

:root.dark[data-brand="bernoulli"][data-profile="student"] {
  --profile-primary: oklab(56.336% 0.09928 -0.12545);
  --profile-accent: oklch(28.634% 0.1457 303.638);
}

:root.dark[data-brand="bernoulli"][data-profile="family"] {
  --profile-primary: oklch(55.67% 0.13925 298.512);
  --profile-accent: oklch(27.73% 0.13085 287.461);
}

:root.dark[data-brand="bernoulli"][data-profile="teacher"] {
  --profile-primary: oklch(65.297% 0.09541 208.728);
  --profile-accent: oklch(25.679% 0.04406 207.198);
}

:root.dark[data-brand="bernoulli"][data-profile="school"] {
  --profile-primary: oklch(49.621% 0.15711 271.016);
  --profile-accent: oklch(27.13% 0.12252 261.682);
}

:root.dark[data-brand="bernoulli"][data-profile="system"] {
  --profile-primary: oklch(40.738% 0.13128 294.466);
  --profile-accent: oklch(27.695% 0.1221 290.294);
}

:root[data-brand="bernoulli"] {
  --chart-brand-1: #C1EEE6;
  --chart-brand-2: #75D7CD;
  --chart-brand-3: #40C7BC;
  --chart-brand-4: #019B92;
  --chart-brand-5: #016A63;
}

:root.dark[data-brand="bernoulli"] {
  --chart-brand-1: #C1EEE6;
  --chart-brand-2: #75D7CD;
  --chart-brand-3: #40C7BC;
  --chart-brand-4: #019B92;
  --chart-brand-5: #016A63;
}