:root {
    --background: var(--color-neutral-100);
    --foreground: var(--color-neutral-800);
    --card: var(--color-white);
    --card-foreground: var(--color-neutral-600);
    --popover: var(--color-white);
    --popover-foreground: var(--color-neutral-600);
    --primary: var(--color-slate-700);
    --primary-foreground: var(--color-white);
    --secondary: var(--color-slate-500);
    --secondary-foreground: var(--color-white);
    --muted: var(--color-neutral-200);
    --muted-foreground: var(--color-neutral-500);
    --accent: var(--color-neutral-100);
    --accent-foreground: var(--color-neutral-800);
    --destructive: var(--color-red-600);
    --border: var(--color-neutral-300);
    --input: var(--color-white);
    --ring: var(--primary);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: var(--color-white);
    --sidebar-foreground: var(--color-neutral-800);
    --sidebar-primary: var(--color-slate-700);
    --sidebar-primary-foreground: var(--color-white);
    --sidebar-accent: var(--color-neutral-200);
    --sidebar-accent-foreground: var(--color-neutral-800);
    --sidebar-border: var(--color-neutral-300);
    --sidebar-ring: var(--sidebar-primary);

    --primary-hover: var(--color-slate-600);
}

.dark {
    --background: var(--color-neutral-950);
    --foreground: var(--color-neutral-50);
    --card: var(--color-neutral-900);
    --card-foreground: var(--color-neutral-50);
    --popover: var(--color-neutral-900);
    --popover-foreground: var(--color-neutral-50);
    --primary: var(--color-slate-700);
    --primary-foreground: var(--color-white);
    --secondary: var(--color-slate-500);
    --secondary-foreground: var(--color-white);
    --muted: var(--color-neutral-700);
    --muted-foreground: var(--color-neutral-400);
    --accent: var(--color-neutral-950);
    --accent-foreground: var(--color-neutral-50);
    --destructive: var(--color-red-400);
    --border: var(--color-neutral-700);
    --input: var(--color-neutral-800);
    --ring: var(--primary);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: var(--color-neutral-900);
    --sidebar-foreground: var(--color-neutral-50);
    --sidebar-primary: var(--color-slate-700);
    --sidebar-primary-foreground: var(--color-white);
    --sidebar-accent: var(--color-neutral-800);
    --sidebar-accent-foreground: var(--color-neutral-50);
    --sidebar-border: var(--color-neutral-700);
    --sidebar-ring: var(--sidebar-primary);

    --primary-hover: var(--color-slate-600);
}