:root {
    --background: var(--color-neutral-100);
    --foreground: var(--color-neutral-800);
    --card: var(--color-white);
    --card-foreground: var(--color-neutral-600);
    --popover: var(--color-white);
    --popover-foreground: var(--color-neutral-600);
    --primary: var(--color-slate-700);
    --primary-foreground: var(--color-white);
    --secondary: var(--color-slate-500);
    --secondary-foreground: var(--color-white);
    --muted: var(--color-neutral-200);
    --muted-foreground: var(--color-neutral-500);
    --accent: var(--color-neutral-100);
    --accent-foreground: var(--color-neutral-800);
    --border: var(--color-neutral-300);
    --input: var(--color-white);
    --ring: var(--primary);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: var(--color-white);
    --sidebar-foreground: var(--color-neutral-800);
    --sidebar-primary: var(--color-slate-700);
    --sidebar-primary-foreground: var(--color-white);
    --sidebar-accent: var(--color-neutral-200);
    --sidebar-accent-foreground: var(--color-neutral-800);
    --sidebar-border: var(--color-neutral-300);
    --sidebar-ring: var(--sidebar-primary);
    
    /* Feedback */
    --destructive: var(--color-red-600);
    --destructive-accent: var(--color-red-200);
    --destructive-foreground: var(--color-white);
    --success: oklch(44.881% 0.14391 141.503);
    --success-accent: oklab(85.97% -0.11545 0.09256);
    --success-foreground: var(--color-white);
    --warning: oklch(64.605% 0.1943 41.103);
    --warning-accent: oklch(90.145% 0.07286 70.675);
    --warning-foreground: var(--color-white);
    --info: var(--color-blue-800);
    --info-accent: var(--color-blue-200);
    --info-foreground: var(--color-white);

    /* Extras */
    --primary-hover: var(--color-slate-600);
        /* fix-primary-* ignore primary overrides in dark mode (specific components) */
    --fix-primary: var(--primary); 
    --fix-primary-foreground: var(--primary-foreground);
    --fix-primary-hover: var(--primary-hover);
}

.dark {
    --background: var(--color-neutral-950);
    --foreground: var(--color-neutral-50);
    --card: var(--color-neutral-900);
    --card-foreground: var(--color-neutral-50);
    --popover: var(--color-neutral-900);
    --popover-foreground: var(--color-neutral-50);
    --primary: var(--color-slate-700);
    --primary-foreground: var(--color-white);
    --secondary: var(--color-slate-500);
    --secondary-foreground: var(--color-white);
    --muted: var(--color-neutral-700);
    --muted-foreground: var(--color-neutral-400);
    --accent: var(--color-neutral-950);
    --accent-foreground: var(--color-neutral-50);
    --border: var(--color-neutral-700);
    --input: var(--color-neutral-800);
    --ring: var(--primary);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: var(--color-neutral-900);
    --sidebar-foreground: var(--color-neutral-50);
    --sidebar-primary: var(--color-slate-700);
    --sidebar-primary-foreground: var(--color-white);
    --sidebar-accent: var(--color-neutral-800);
    --sidebar-accent-foreground: var(--color-neutral-50);
    --sidebar-border: var(--color-neutral-700);
    --sidebar-ring: var(--sidebar-primary);
    /* Feedback */
    --destructive: var(--color-red-400);
    --destructive-accent: var(--color-red-900);
    --destructive-foreground: var(--color-neutral-900);
    --success: oklch(74.495% 0.18608 141.112);
    --success-accent: oklch(44.623% 0.13237 141.236);
    --success-foreground: var(--color-neutral-900);
    --warning: oklch(78.947% 0.15759 64.312);
    --warning-accent: oklch(46.656% 0.14007 41.096);
    --warning-foreground: var(--color-neutral-900);
    --info: var(--color-blue-400);
    --info-accent: var(--color-blue-900);
    --info-foreground: var(--color-neutral-900);
    /* Extras */
    --primary-hover: var(--color-slate-600);
    /* use in specific components to ignore dark mode. */
    --fix-primary: var(--primary); 
    --fix-primary-foreground: var(--primary-foreground);
    --fix-primary-hover: var(--primary-hover);
}