@import "@fontsource-variable/nunito";

:root {
  --profile-primary: oklch(46.543% 0.21187 302.598);
  --profile-accent: oklch(88.865% 0.06939 306.654);
}

:root[data-brand="multitude"] {
  --brand-font-heading: 'Nunito Variable';
  --brand-font-sans: 'Nunito Variable';
  --brand-font-weight-heading: 700;
  --brand-font-cta: var(--brand-font-heading), var(--brand-font-sans);
  --brand-font-weight-cta: 700;

  --brand-primary: oklch(46.543% 0.21187 302.598);
  --brand-secondary: oklch(65.85% 0.17482 304.969);
  --brand-accent: oklch(88.865% 0.06939 306.654);
  --brand-ring: oklch(70.77% 0.17579 305.234);
}

:root[data-brand="multitude"][data-profile="student"] {
  --profile-primary: oklch(54.938% 0.20797 297.762);
  --profile-accent: oklch(88.405% 0.06081 306.63);
}

:root[data-brand="multitude"][data-profile="family"] {
  --profile-primary: oklch(55.67% 0.13925 298.512);
  --profile-accent: oklch(90.828% 0.05341 302.057);
}

:root[data-brand="multitude"][data-profile="teacher"] {
  --profile-primary: oklch(52.216% 0.18471 268.71);
  --profile-accent: oklch(81.801% 0.08791 273.628);
}

:root[data-brand="multitude"][data-profile="school"] {
  --profile-primary: oklch(50.461% 0.24661 304.387);
  --profile-accent: oklch(88.842% 0.05503 314.457);
}

:root[data-brand="multitude"][data-profile="system"] {
  --profile-primary: oklch(43.433% 0.24031 280.485);
  --profile-accent: oklch(78.091% 0.11508 294.342);
}

:root.dark[data-brand="multitude"] {
  --brand-primary: oklch(46.543% 0.21187 302.598);
  --brand-secondary: oklch(65.85% 0.17482 304.969);
  --brand-accent: oklch(32.561% 0.11616 304.333);
  --brand-ring: oklch(70.77% 0.17579 305.234);
}

:root.dark[data-brand="multitude"][data-profile="student"] {
  --profile-primary: oklch(54.938% 0.20797 297.762);
  --profile-accent: oklch(29.098% 0.16804 286.848);
}

:root.dark[data-brand="multitude"][data-profile="family"] {
  --profile-primary: oklch(55.67% 0.13925 298.512);
  --profile-accent: oklch(27.783% 0.12607 287.637);
}

:root.dark[data-brand="multitude"][data-profile="teacher"] {
  --profile-primary: oklch(52.216% 0.18471 268.71);
  --profile-accent: oklch(27.13% 0.12252 261.682);
}

:root.dark[data-brand="multitude"][data-profile="school"] {
  --profile-primary: oklch(50.461% 0.24661 304.387);
  --profile-accent: oklch(28.391% 0.14833 303.988);
}

:root.dark[data-brand="multitude"][data-profile="system"] {
  --profile-primary: oklch(43.433% 0.24031 280.485);
  --profile-accent: oklch(29.457% 0.18777 273.306);
}

:root[data-brand="multitude"] {
  --chart-brand-1: #E2CEF9;
  --chart-brand-2: #C7A1F0;
  --chart-brand-3: #AB7CEA;
  --chart-brand-4: #8248D7;
  --chart-brand-5: #5630B8;
}

:root.dark[data-brand="multitude"] {
  --chart-brand-1: #E2CEF9;
  --chart-brand-2: #C7A1F0;
  --chart-brand-3: #AB7CEA;
  --chart-brand-4: #8248D7;
  --chart-brand-5: #5630B8;
}