@import "@fontsource-variable/nunito";

:root[data-brand="multitude"] {
  --brand-font-heading: 'Nunito Variable';
  --brand-font-sans: 'Nunito Variable';
  --brand-font-weight-heading: 700;
  --brand-font-cta: var(--brand-font-heading), var(--brand-font-sans);
  --brand-font-weight-cta: 700;

  --primary: oklch(46.543% 0.21187 302.598);
  --primary-hover: oklch(68.015% 0.18485 306.708);
  --primary-foreground: var(--background);
  --secondary: oklch(65.85% 0.17482 304.969);
  --accent: oklch(88.865% 0.06939 306.654);
  --ring: oklch(70.77% 0.17579 305.234);
  /* use in specific components to ignore dark mode. */
  --fix-primary: oklch(46.543% 0.21187 302.598); 
  --fix-primary-foreground: var(--color-white);
  --fix-primary-hover: oklch(68.015% 0.18485 306.708);
}

.dark[data-brand="multitude"] {
  --primary: oklch(69.958% 0.20283 306.642);
  --primary-hover: oklch(46.543% 0.21187 302.598);
  --primary-foreground: var(--background);
  --secondary: oklch(65.85% 0.17482 304.969);
  --accent: oklch(32.561% 0.11616 304.333);
  --ring: oklch(70.77% 0.17579 305.234);
}

:root[data-brand="multitude"][data-profile="student"] {
  --sidebar-primary: oklch(54.938% 0.20787 297.763);
  --sidebar-accent: oklch(88.405% 0.06071 306.682);
}

:root[data-brand="multitude"][data-profile="family"] {
  --sidebar-primary: oklch(55.670% 0.13916 298.518);
  --sidebar-accent: oklch(90.828% 0.05331 302.110);
}

:root[data-brand="multitude"][data-profile="teacher"] {
  --sidebar-primary: oklch(52.215% 0.18463 268.698);
  --sidebar-accent: oklch(87.563% 0.06075 273.828);
}

:root[data-brand="multitude"][data-profile="school"] {
  --sidebar-primary: oklch(50.462% 0.24650 304.389);
  --sidebar-accent: oklch(88.842% 0.05495 314.527);
}

:root[data-brand="multitude"][data-profile="system"] {
  --sidebar-primary: oklch(43.433% 0.24022 280.475);
  --sidebar-accent: oklch(87.235% 0.07096 296.583);
}

.dark[data-brand="multitude"][data-profile="student"] {
  --sidebar-primary: oklch(54.938% 0.20787 297.763);
  --sidebar-accent: oklch(27.979% 0.13570 293.931);
}

.dark[data-brand="multitude"][data-profile="family"] {
  --sidebar-primary: oklch(55.670% 0.13916 298.518);
  --sidebar-accent: oklch(27.783% 0.12601 287.632);
}

.dark[data-brand="multitude"][data-profile="teacher"] {
  --sidebar-primary: oklch(52.215% 0.18463 268.698);
  --sidebar-accent: oklch(27.129% 0.12248 261.665);
}

.dark[data-brand="multitude"][data-profile="school"] {
  --sidebar-primary: oklch(50.462% 0.24650 304.389);
  --sidebar-accent: oklch(27.781% 0.12870 305.349);
}

.dark[data-brand="multitude"][data-profile="system"] {
  --sidebar-primary: oklch(43.433% 0.24022 280.475);
  --sidebar-accent: oklch(27.729% 0.13079 287.456);
}

:root[data-brand="multitude"] {
  --chart-1: #E2CEF9;
  --chart-2: #C7A1F0;
  --chart-3: #AB7CEA;
  --chart-4: #8248D7;
  --chart-5: #5630B8;
}

.dark[data-brand="multitude"] {
  --chart-1: #E2CEF9;
  --chart-2: #C7A1F0;
  --chart-3: #AB7CEA;
  --chart-4: #8248D7;
  --chart-5: #5630B8;
}